# Equipe GLUE - Vehicle Insurance x Health Care Cross Sell

### Conectando-se Ã  base de dados e extraindo o dataset

In [7]:
import sqlalchemy
import pandas as pd

In [11]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost:3306/cross_sell_db')

df = pd.read_sql_table('train', engine)
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0